{% load crispy_forms_tags %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p>
            Hello {{ request.user.get_username }},
            <br>
            <br>
            Welcome to Flexchain! Your smart partner in managing {# TODO add company name here #} supply chain.<br>
            Please add the required files below to kick start your Flexchain!<br>
        </p>
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %} {# Prevents other websites from submitting this form #}
              {% for field in csv_upload_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
          {% crispy csv_upload_form %}
      </form>
    </div>
</div>