<div class="col-md-2">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link  " href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'product' %}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'vendor' %}">Vendors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'task' %}">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'event' %}">Events</a>
        </li>
    </ul>
</div>
